= simple_form_for @care_receiver_profile, :html => {:multipart => true } do |f|
  = f.error_notification

  .form-inputs
    %p
      = f.label "Upload a profile picture"
    %p
      = f.file_field :profile_picture
    = f.input :status, collection: ["Looking For Care", "Currently Cared For"], include_blank: false
    = f.input :visibility, collection: %w[Visible Hidden], label: "You may choose to publicly display or temporarily hide your profile.", include_blank: false
    = f.input :name, placeholder: "Maggie"
    = f.input :birthdate, start_year: 1915, end_year: Time.now.year, order: [:month, :day, :year]
    = f.input :gender, collection: ["Male", "Female"]
    = f.input :disabilities, as: :text, label: "Disabilities and Diagnoses", placeholder: "Cerebral Palsy, Cognitive Delay, G-Tube Fed, Seizures (1 or 2 per yr.) Non-verbal, but uses signs, gestures and the Dynavox / iPad (augmentative communication device) to communicate."
    = f.input :hobbies, label: "Hobbies, Likes, Fun", as: :text, placeholder: "Hanging out with friends, arts & crafts, visiting the horse farm, reading, going to the mall, camp, parties, listening to music."
    = f.input :services_needed, as: :text, placeholder: "Respite, 1 on 1 supervision, Companionship"
    = f.input :misc, label: "Miscellaneous", as: :text
    = f.input :hours_needed, placeholder: "2 to 3 students to work 6 to 10 hrs per week."
    = f.input :days_needed, placeholder: "Various shifts every day of the week."
    = f.input :city, placeholder: "Baltimore"
    = f.input :county, collection: BALTIMORE_COUNTIES # Found in initializers/constants.rb
    = f.input :transportation, collection: %w(Yes No), label: "Do you have transportation?"
    = f.input :contact_name, placeholder: "Mary"
    = f.input :contact_email, as: :email, placeholder: "example@email.com", label: "Contact Email. This will be publicly available when your profile is visible. This may change in the future."
    = f.input :contact_phone, as: :tel, placeholder: "555-123-4567", label: "This will not be publicly available when your profile is visible. This may change in the future."

  .form-actions
    = f.button :submit, class: "btn btn-primary"