= render "sidebar"
.span8.profiles
  %h1 People in Need of Care
  %hr
  = will_paginate @profiles
  - @profiles.each do |profile|
    .well
      %table
        %tr
          %td
            %h5= link_to "#{profile.name} is #{profile.age} old and lives in #{profile.location}.", profile
            %p= "\nDisabilities: #{profile.disabilities}"
            %p= "\nLikes: #{profile.hobbies}"
          %td= image_tag profile.profile_picture.url(:thumb), class: "img-circle"
  = will_paginate @profiles