= render "sidebar"

%h1#header Your Posted Profiles
%hr
.col-md-8
  = will_paginate @profiles
  - @profiles.each do |profile|
    .well
      .container-fluid
        .row-fluid
          .col-md-8#hideOverflow
            %h5= humanize_profile_class_name profile.class.name
            %p= "#{profile.try(:name) || profile.try(:title)} from #{profile.try(:city) || profile.try(:org_name)}"
            %p
              Contact Email:
              %a{href: "mailto:#{profile.contact_email}"}= profile.contact_email
            %p
              Contact Phone:
              %a{href: "tel:#{profile.contact_phone}"}= profile.contact_phone.phony_formatted(:spaces => '-')
            %p
              %span.label{:class => "label-#{status_label(profile.try(:status))}"}= profile.try(:status)
            %p
              =link_to raw("<i class='glyphicon glyphicon-user'></i> View"), { controller: profile.class.to_s.pluralize.underscore, action: :show, id: profile.id }, class: "btn btn-info"
              =link_to raw("<i class='glyphicon glyphicon-edit'></i> Edit"), { controller: profile.class.to_s.pluralize.underscore, action: :edit, id: profile.id }, class: "btn btn-warning"
              =link_to raw("<i class='glyphicon glyphicon-trash'></i> Delete"), { controller: profile.class.to_s.pluralize.underscore, action: :destroy, id: profile.id }, class: "btn btn-danger", method: :delete, confirm: "Are you sure?"
          .col-md-4
            = image_tag profile.profile_picture.url(:thumb), class: "img-responsive img-rounded"
  =will_paginate @profiles