.span8
  %h1 Your Profiles
  %hr
  = will_paginate @profiles
  - @profiles.each do |profile|
    .well
      %table
        %tr
          %td
            %h4
        %tr
          %td
            %h5= "#{profile.name} lives in #{profile.city}"
          %td= image_tag profile.profile_picture.url(:thumb), class: "img-circle"
      = link_to "Show", "/#{profile.class.to_s.underscore + 's'}/#{profile.id}", class: "btn"
      = link_to "Edit", "/#{profile.class.to_s.underscore + 's'}/#{profile.id}/edit", class: "btn"
      = link_to "Delete", "/#{profile.class.to_s.underscore + 's'}/#{profile.id}", class: "btn btn-danger", method: :delete, confirm: "Are you sure?"
  =will_paginate @profiles