= render "sidebar"
.span8
  %h1#header Your Posted Profiles
  %hr
  = will_paginate @profiles
  - @profiles.each do |profile|
    .well
      .container-fluid
        .row-fluid
          .span8#hideOverflow
            %h5= humanize_profile_class_name profile.class.name
            %p= "#{profile.name} from #{profile.city}"
            %p
              Contact Email:
              %a{href: "mailto:#{profile.contact_email}"}= profile.contact_email
            %p
              Contact Phone:
              %a{href: "tel:#{profile.contact_phone}"}= profile.contact_phone.phony_formatted(:spaces => '-')
            %p
              %span.label{:class => "label-#{status_label(profile.status)}"}= profile.status
            %p
              %span.label{:class => "label-#{status_label(profile.visibility)}"}= profile.visibility
            %p
              =link_to raw("View <i class='icon-user icon-white'></i>"), { controller: profile.class.to_s.pluralize.underscore, action: :show, id: profile.id }, class: "btn btn-info"
              =link_to raw("Edit <i class='icon-edit'></i>"), { controller: profile.class.to_s.pluralize.underscore, action: :edit, id: profile.id }, class: "btn btn-warning"
              =link_to raw("Delete <i class='icon-trash icon-white'></i>"), { controller: profile.class.to_s.pluralize.underscore, action: :destroy, id: profile.id }, class: "btn btn-danger", method: :delete, confirm: "Are you sure?"
          .span4
            = image_tag profile.profile_picture.url(:thumb), class: "img-circle"
      = #link_to raw("View <i class='icon-user icon-white'></i>"), "/#{profile.class.to_s.underscore + 's'}/#{profile.id}", class: "btn btn-info"
      = #link_to raw("Edit <i class='icon-edit'></i>"), "/#{profile.class.to_s.underscore + 's'}/#{profile.id}/edit", class: "btn btn-warning"
      = #link_to raw("Delete <i class='icon-trash icon-white'></i>"), "/#{profile.class.to_s.underscore + 's'}/#{profile.id}", class: "btn btn-danger", method: :delete, confirm: "Are you sure?"

  =will_paginate @profiles