= simple_form_for @care_provider_profile, :html => {:multipart => true } do |f|
  = f.error_notification

  .form-inputs
    %p
      = f.label "Upload a profile picture (Only JPEG and PNG files accepted):"
    %p
      = f.file_field :profile_picture
      = f.error :profile_picture
    = f.input :status, collection: ["Looking To Care", "Currently Busy"], include_blank: false, label: "Profile Status. Marking 'Currently Busy' will hide your profile from public view.", as: :radio_buttons, :item_wrapper_class => 'inline'
    = f.input :name, placeholder: "Mary", label: "Name of individual in need of care"
    = f.input :gender, collection: %w[Male Female], as: :radio_buttons, :item_wrapper_class => 'inline'
    = f.input :city, placeholder: "Towson"
    = f.input :county, collection: BALTIMORE_COUNTIES
    = f.input :field_of_study, placeholder: "Social Work"
    = f.input :school, placeholder: "University of Maryland"
    = f.input :skills, label: "Description of expertise or skills:", placeholder: "CPR certified, bilingual, and past experience in caregiving."
    = f.input :transportation, collection: ["Yes", "No"], label: "Can you provide your own transportation?", as: :radio_buttons, :item_wrapper_class => 'inline'
    = f.input :misc, placeholder: "Background check available upon request."
    = f.input :contact_email, placeholder: "example@email.com", label: "Contact Email. This will be publicly available to registered users."
    = f.input :contact_phone, placeholder: "555-123-4567", label: "Contact Phone. This will not be publicly available."

  .form-actions
    = f.button :submit, "Create New Profile", class: "btn btn-primary"
