/.container
/.row
.span3#sidebar
  %ul.nav.nav-list.well
    %li
      %label.tree-toggle.nav-header Resources
      %ul.nav.nav-list.tree
        %li
          = link_to "Those In Need", care_receiver_profiles_path
        %li
          = link_to "Those Who Care", care_provider_profiles_path
    %li.divider
    %li
      %label.tree-toggle.nav-header Sort By
      %ul.nav.nav-list.tree
        %li
          = link_to "Recent", root_path(params.merge(sort: "created_at"))
        %li
          = link_to "Name", root_path(params.merge(sort: "name"))
        %li
          = link_to "Field of Study", root_path(params.merge(sort: "field_of_study"))
        %li
          = link_to "Location", root_path(params.merge(sort: "location"))
  = render "search"

-#
        %li
          %label.tree-toggle.nav-header Media Queries
          %ul.nav.nav-list.tree
            %li
              %a{:href => "#"} Text
            %li
              %a{:href => "#"} Images
            %li
              %label.tree-toggle.nav-header Mobile Devices
              %ul.nav.nav-list.tree
                %li
                  %a{:href => "#"} iPhone
                %li
                  %a{:href => "#"} Samsung
        %li
          %label.tree-toggle.nav-header Coding
          %ul.nav.nav-list.tree
            %li
              %a{:href => "#"} JavaScript
            %li
              %a{:href => "#"} jQuery
            %li
              %label.tree-toggle.nav-header HTML DOM
              %ul.nav.nav-list.tree
                %li
                  %a{:href => "#"} DOM Elements
                %li
                  %a{:href => "#"} Recursive