.span3#sidebar
  %ul.nav.nav-list.well
    %li
      %label.tree-toggle.nav-header= sidebar_welcome
      %ul.nav.nav-list.tree
        - if user_signed_in?
          %li= link_to "New Family / Individual", new_care_receiver_profile_path, class: ( "highlighted" if controller?("care_receiver_profiles") && action?("new") )
          %li= link_to "New Student Caregiver", new_care_provider_profile_path, id: "header", class: ( "highlighted" if controller?("care_provider_profiles") && action?("new") )
          %li= link_to "View Your Profiles", profiles_path, id: "header", class: ( "highlighted" if controller?("user_profiles") && action?("index") )
          %li= link_to "Edit Account", edit_user_registration_path
          %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
        - else
          %li= link_to "Register", new_user_registration_path
          %li= link_to "Login", new_user_session_path
    %li.divider
    %li
      %label.tree-toggle.nav-header Ads
      %ul.nav.nav-list.tree
        %li
          = link_to "All Family / Individiual", care_receiver_profiles_path, class: ( "highlighted" if controller?("care_receiver_profiles") && action?("index") )
        %li
          = link_to "All Student Caregivers", care_provider_profiles_path, class: ( "highlighted" if controller?("care_provider_profiles") && action?("index") )
    %li.divider
    %li
      %label.tree-toggle.nav-header Sort By
      %ul.nav.nav-list.tree
        %li
          = link_to raw(direction_icon("Recent", params[:sort],params[:direction])), care_provider_profiles_path(params.merge(sort: "created_at", direction: flip_direction(params[:direction])))
        %li
          = link_to raw(direction_icon("Name", params[:sort],params[:direction])), care_provider_profiles_path(params.merge(sort: "name", direction: flip_direction(params[:direction])))
        %li
          = link_to raw(direction_icon("County", params[:sort],params[:direction])), care_provider_profiles_path(params.merge(sort: "county", direction: flip_direction(params[:direction])))
        %li
          = link_to raw(direction_icon("Status", params[:sort],params[:direction])), care_provider_profiles_path(params.merge(sort: "status", direction: flip_direction(params[:direction])))
  = render "search"
  = render "page_feedback"
  - if user_signed_in? && Time.now - current_user.created_at > 9.weeks
    - if @employment_survey_id.nil?
      = link_to "Please Answer Three Questions!", new_employment_survey_path
    - else
      = link_to "Update your survey.", edit_employment_survey_path(@employment_survey_id)