= render "sidebar"
.span8
  %h1= "Edit the profile of #{@care_provider_profile.name}"
  %hr
  .well
    = render 'form'

    = link_to 'Back', care_provider_profiles_path, class: "btn"
    = link_to 'Show', @care_provider_profile, class: "btn"
    = link_to "Delete", care_receiver_profile_path(@care_receiver_profile), class: "btn btn-danger", method: :delete, confirm: "Are you sure?"

