= render "sidebar"
.span8
  %h1 Care Providers
  = form_tag root_path, :method => 'get', :id => "profile_search" do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil, class: "btn"
    #profiles
      = hidden_field_tag :direction, params[:direction]
      = hidden_field_tag :sort, params[:sort]
  = will_paginate @profiles
  - @profiles.each do |profile|
    .well
      %table
        %tr
          %td
            %h5= "#{profile.name} studies #{profile.field_of_study} and lives in #{profile.location}."
            %p= "\nSchool: #{profile.school}"
            %p= "\nSkills: #{profile.skils}"
          %td= image_tag profile.profile_picture.url(:thumb), class: "img-circle"
  = will_paginate @profiles
