= render "sidebar"
.col-md-8
  %h1#header Student Caregivers
  %hr
  %p.lead
    = "Searching for '#{params[:search]}'. " if params[:search]
    = "Sorted by '#{humanize_sort_type(@sort_column)}' in #{humanize_sort_direction(@sort_direction)} order."
  = will_paginate @profiles
  %h6.lead= "Nothing Found" if @profiles[0].nil?
  - @profiles.each do |profile|
    .well
      .container-fluid
        .row-fluid
          .col-md-8#hideOverflow
            .row-fluid
              %h6.lead= "#{profile.name} studies #{profile.field_of_study} and lives in #{profile.county}"
              %p
                %em School:
                = "#{profile.school}"
              %p
                %em Skills and Experience:
                = "#{profile.skills}"
              %p
              %p
                - if profile.user == current_user
                  %em You own this profile.
            .row-fluid
              #index-content-actions
                - if user_signed_in?
                  = link_to raw("View Profile <i class='icon-user icon-white'></i>"), profile, class: "btn btn-info"
                - else
                  %span.badge.badge-info Log in to view details.
                - if user_signed_in? && profile.user != current_user
                  - if !current_user.flagged?(profile)
                    = link_to raw("<i class='glyphicon glyphicon-flag'></i>"), flag_care_provider_profile_path(profile), class: "flag", title: "Flag this content as inappropriate.", "data-placement" => "right"
                  - else
                    = link_to raw("<i class='glyphicon glyphicon-remove-sign'></i>"), flag_care_provider_profile_path(profile), class: "flag", title: "Unflag this content.", "data-placement" => "right"
          .col-md-4
            - if user_signed_in?
              = image_tag profile.profile_picture.url(:thumb), class: "img-responsive img-rounded"
            - else
              = image_tag "missing.jpg", class: "img-responsive img-rounded"
  = will_paginate @profiles
