= render "sidebar"
.span8
  %h1 Care Providers
  %hr
  = will_paginate @profiles
  - @profiles.each do |profile|
    .well
      .container-fluid
        .row-fluid
          .span8#hideOverflow
            %h5= link_to "#{profile.name} studies #{profile.field_of_study} and lives in #{profile.city}.", care_provider_profile_path(profile)
            %p= "\nSchool: #{profile.school}"
            %p= "\nSkills: #{profile.skills}"
          .span4
            = image_tag profile.profile_picture.url(:thumb), class: "img-circle"
  = will_paginate @profiles
