= render "sidebar"
.span8#hideOverflow
  .well
    %h1#header= "Student Caregiver Profile for #{@care_provider_profile.name}"
    %hr
    %p= image_tag @care_provider_profile.profile_picture.url(:large)
    %p
      %b Status:
      %span.label{:class => "label-#{status_label(@care_provider_profile.status)}"}= @care_provider_profile.status
    %p
      %b Gender:
      = @care_provider_profile.gender
    %p
      %b City:
      = @care_provider_profile.city
    %p
      %b County:
      = @care_provider_profile.county
    %p
      %b Field of study:
      = @care_provider_profile.field_of_study
    %p
      %b School:
      = @care_provider_profile.school
    %p
      %b Has Transportation:
      = @care_provider_profile.transportation
    %p
      %b Skills:
      = @care_provider_profile.skills
    %p
      %b Misc:
      = @care_provider_profile.misc
    %p
      %b Contact email:
      %a{href: "mailto:#{@care_provider_profile.contact_email}"}= @care_provider_profile.contact_email
    %p
      %b Contact phone:
      %a{href: "tel:#{@care_provider_profile.contact_phone}"}= @care_provider_profile.contact_phone.phony_formatted(:spaces => '-')
    = link_to raw("<i class='icon-arrow-left'></i> Back"), care_receiver_profiles_path, class: "btn"
    - if can? :update, @care_provider_profile
      = link_to raw("Edit <i class='icon-edit'></i>"), edit_care_provider_profile_path(@care_provider_profile), class: "btn btn-warning"
      = link_to raw("Delete <i class='icon-trash icon-white'></i>"), care_provider_profile_path(@care_provider_profile), class: "btn btn-danger", method: :delete, confirm: "Are you sure?"