%footer
  .container-fluid
    .row-fluid
      .span8
        %p.text-center
          Community Works is a project of
          = link_to "Maggie’s Light,", "http://www.maggieslight.org", class: "footerLink"
          and the
          = link_to "Maryland Center for Developmental Disabilities,", "http://mcdd.kennedykrieger.org/", class: "footerLink"
        %p.text-center
          funded in part by the
          = link_to "Maryland DHMH", "http://dhmh.maryland.gov/SitePages/Home.aspx", class: "footerLink"
          = '/'
          = link_to "Office for Genetics & People with Special Health Care Needs.", "http://phpa.dhmh.maryland.gov/genetics/SitePages/Home.aspx", class: "footerLink"
        %p.text-center
          %small
            = link_to "Made with &hearts; in Baltimore".html_safe, "http://www.madewithloveinbaltimore.com", class: "footerLink"
            = link_to "by Ziggas Design and Development", "http://goo.gl/FTF4J", class: "footerLink"
        %p.text-center
          %small
            ©2008 Maggie's Light Foundation
      .span4
        = link_to image_tag("MCDD_logo_small.png", alt: "Maryland Center for Developmental Disabilities at Kennedy Krieger Institute", size: "300x150", style: "padding: 10px 0 10px 0"), "http://mcdd.kennedykrieger.org/"