!!!
%html
  %head
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      %script{src: "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Community Works Caregiver Registry"
      %meta{:content => content_for?(:description) ? yield(:description) : "Maggieslight", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
    %body#maggiebeige{:class => "#{controller_name} #{action_name}"}
      #main.container-fluid
        .row
          = render 'layouts/navigation'
        .row
          .col-md-12
            = render 'layouts/messages'
        .row
          = yield
      = render 'layouts/footer'